.nav {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    width: 350px;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    font-weight: 900;
}