.nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 300px;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}