.worksBlock {
    /*height: 100vh;*/
    height: 100%;
    background-color: #01011a;
    width: 100%;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 629px) {
    .works {
        justify-content: center;

    }
}

