.skillsBlock {
    min-height: 50vh;
    background-color: #282927;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
}

.skills {
    /*border: solid 1px;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*до тех пор, пока ширина менее 629 пикселей, делать ...*/
@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;

    }
}



