.skillsBlock {
    min-height: 20vh;
    background-color: #020312;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-top: 30px;*/
}

/*до тех пор, пока ширина менее 629 пикселей, делать ...*/
@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;

    }
    .skillsContainer {
        text-align: center;
    }

}



