.mainBlock {
    height: 100vh;
    background-color: #1e1f1d;
}

.aboutMeText {
    width: 400px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.aboutMePhoto {
    /*width: 400px;*/
    /*height: 400px;*/
    /*border: 1px solid aqua;*/
}

.photo {
    width: 300px;
    height: 350px;
}