.mainBlock {
    height: 100vh;
    background-color: #01011a;
}

.aboutMeText {
    font-family: 'Rubik', sans-serif;
    width: 650px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.aboutMeText h2 {
    margin: 0;
    border: 1px solid white;
    display: inline-block;
    padding: 10px;
}

.aboutMeText h2:hover {
    background-color: white;
    color: black;
}

.aboutMePhoto {
    /*width: 400px;*/
    /*height: 400px;*/
    /*border: 1px solid aqua;*/
}

.photo {
    width: 300px;
    height: 350px;
}
