.footerBlock {
    min-height: 8vh;
    background-color: #01011a;
    font-family: 'Rubik', sans-serif;

}

.footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}

.footerIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.fullName {
    padding-top: 5px;
    padding-bottom: 5px;
}

.currentYear {
    padding-top: 5px;
}


